// Singularity container cache. Change this as appropriate

singularity {
	cacheDir = "./singularity"
	runOptions ="--no-home"
	singularity.enabled = true
	singularity.autoMounts = true
	//singularity.autoMounts = false
    	//runOptions = "-B \"$launchDir\" $mounts.datadir $mounts.outdir"
}

// ensure that no user libraries get mounted into the container
process.containerOptions = "--no-home"

env {
    PYTHONNOUSERSITE = 1
}

// Default parameters. Commandline parameters will take priority over these
params {
        slurm_account= 'a_uqds'
	outdir = './results'
	data_dir='../../../databases'
	threads = 4
	skip_nanocomp = false
	nanocomp_threads = 4
	skip_assembly = false
	flye_threads = 4
	flye_args = "--asm-coverage 100"
	genome_size = "2.3M"
	skip_polishing= false
	medaka_threads = 12
	//ensure the correct nedaka model is indicated below and matches the guppy/dorado basecalling model
	medaka_model = "r1041_e82_400bps_sup_v5.0.0"
	skip_quast= false
	quast_threads = 2
	skip_checkm = false
	skip_download_checkm_db = true
	checkm_db = '../../../databases/CheckM-1.2.2'
	skip_sylph = false
	skip_download_sylph_db = true
	sylph_threads = 6
	sylph_db_gtdb_file = 'http://faust.compbio.cs.cmu.edu/sylph-stuff/gtdb-r226-c200-dbv1.syldb'
	sylph_db_fungal_file = 'http://faust.compbio.cs.cmu.edu/sylph-stuff/fungi-refseq-2024-07-25-c200-v0.3.syldb'
	sylph_db = '../../../databases/sylph/*.syldb'
	sylph_metadata= '../../../databases/sylph/*.tsv.gz'
	skip_centrifuge = false
	skip_download_centrifuge_db = true
	centrifuge_threads = 6
	centrifuge_db_download_file = 'https://genome-idx.s3.amazonaws.com/centrifuge/nt_2018_3_3.tar.gz'
	centrifuge_db='../../../databases/centrifuge/nt.*.cf'
	skip_kaptive3 = false
	kaptive_db_9lps="../../../databases/kaptive3_LPS_db_v1/9lps.gbk"
	minimap_threads = 6
	reference_LPS="../../../databases/LPS/reference_LPS.txt"
	subtype_db="../../../databases/LPS/LPS_subtype_database_v1.txt"
	skip_clair3 = false
	clair3_model='../../../databases/clair3_models/r1041_e82_400bps_sup_v500'
	clair3_threads = 4
	clair3_args = "--haploid_sensitive"
	skip_snpeff = false
	skip_mlst = false
	mlst_scheme = "pmultocida_2"
	skip_bakta = false
	bakta_threads = 8
	skip_download_bakta_db = true
	bakta_db = '../../../databases/bakta/db'
	bakta_args = "--proteins ../../../databases/LPS/NC_002663_LPS.gb"
	skip_amrfinder = false
	skip_download_amrfinder_db = true
	amrfinder_db = '../../../databases/amrfinderplus/2025-03-25.1'
	amrfinder_args = ""
}

// Process settings. Set job scheduler if appropriate (SLURM, PBS e.g.)
// If your job scheduler has different queues/partitions for cpu and gpu, please also set them here
process {
        // ensure that no user libraries get mounted into the container
        //containerOptions = '--no-home'
        executor='slurm'
        withLabel: cpu {
                clusterOptions = "--partition=general --account='${params.slurm_account}'"
        }
        //clusterOptions = "--account='${params.slurm_account}'"
        time = '6h'
        withName: 'sylph|sylph_tax' {
        	time = '2h'
        }
        withName: 'centrifuge|minimap|flye|medaka|checkm' {
                time = '26h'
        }
        withLabel: gpu {
                clusterOptions = "--partition=gpu_cuda --qos=gpu --gres=gpu:h100:1 --nodes=1 --tasks-per-node=1 --cpus-per-task=8 --mem=100G --account='${params.slurm_account}'"
        }
        withLabel: high_memory {
                        memory = '150GB'
                        time = '8h'
                }
        withLabel: very_high_memory {
                        memory = 300.GB
                }
        withName: 'centrifuge' {
                maxForks = 1
		}
}

mounts {
        outdir = "-B \"`[[ \"${params.outdir}\" =~ ^/ ]] && echo ${params.outdir} || echo ${PWD}/${params.outdir}`\""
        data_dir = "-B \"`[[ \"${params.data_dir}\" =~ ^/ ]] && echo ${params.data_dir} || echo ${PWD}/${params.data_dir}`\""
}

// Not generally user-modifiable !!!
process {
	withName: checkm { container = 'docker://quay.io/staphb/checkm:1.2.2' }
	withName: sylph { container = 'docker://quay.io/biocontainers/sylph:0.8.1--ha6fb395_0' } 
	withName: 'sylph_tax' { container = 'docker://quay.io/biocontainers/sylph-tax:1.3.0--pyhdfd78af_0' } 
	withName: 'sylph_tax_download_metadata' { container = 'docker://quay.io/biocontainers/sylph-tax:1.3.0--pyhdfd78af_0' } 
	withName: centrifuge { container = 'docker://quay.io/biocontainers/centrifuge:1.0.4.2--h077b44d_1' } 
	withName: kaptive { container = 'docker://quay.io/biocontainers/kaptive:2.0.6--hdfd78af_0' }
	withName: kaptive3 { container = 'docker://quay.io/biocontainers/kaptive:3.0.0b6--pyhdfd78af_0' }
	withName: minimap { container = 'docker://quay.io/schandry_containers/minimap2-samtools:latest' }
	withName: flye { container = 'docker://quay.io/biocontainers/flye:2.9.5--py39h475c85d_2' }
	withName: medaka { container = 'docker://quay.io/biocontainers/medaka:2.0.1--py39hf77f13f_0' }
	withName: clair3 { container = 'docker://quay.io/biocontainers/clair3:1.0.10--py39hd649744_1' }
	withName: snpeff { container = 'docker://quay.io/biocontainers/snpeff:4.3--2' }
	withName: snpsift { container = 'docker://quay.io/biocontainers/snpsift:4.3--py35_2' }
	//to test if includes already snpsift withName: snpeff { container = 'docker://quay.io/jaxcompsci/snpeff_snpsift_5.1:v5.1d' }
	withName: quast { container = 'docker://quay.io/biocontainers/quast:5.2.0--py39pl5321h4e691d4_3' } 
	withName: nanocomp { container = 'docker://quay.io/biocontainers/nanocomp:1.24.2--pyhdfd78af_0' }
	withName: mlst { container = 'docker://quay.io/biocontainers/mlst:2.23.0--hdfd78af_0' }
	withName: bakta { container = 'docker://quay.io/biocontainers/bakta:1.11.0--pyhdfd78af_0' }
	withName: amrfinder { container = 'docker://quay.io/biocontainers/ncbi-amrfinderplus:4.0.23--hf69ffd2_0' }
}

// Debug and report options
trace {
  enabled = true
  file = "${params.outdir}/trace.txt"
  overwrite = true
}
timeline {
  enabled = true
  file = "${params.outdir}/timeline.html"
  overwrite = true
}
report {
  enabled = true
  file = "${params.outdir}/report.html"
  overwrite = true
}
dag {
  enabled = true
  file = "${params.outdir}/flowchart_dag.svg"
  overwrite = true
}

manifest {
  name = ''
  author = 'Valentine Murigneux'
  description = 'Pasteurella multocida LPS typing pipeline for Nanopore data'
  mainScript = 'main.nf'
  version = '0.1'
}

